
<div class="w-full max-w-8xl">

    <!-- Form -->

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Lista de las unidades inmobiliarias</div>
            <div class="text-secondary">Descripcion de la lista de inmobiliarias</div>
        </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort (matSortChange)="announceOrdenarCambio($event)">

        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por No."> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="cum">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Cum"> Cod Cum </th>
        <td mat-cell *matCellDef="let element"> {{element.cum}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="cuim">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por cuim"> Cuim </th>
        <td mat-cell *matCellDef="let element"> {{element.cuim}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="interior">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Interior">Interior </th>
        <td mat-cell *matCellDef="let element"> {{element.interior}} </td>
        </ng-container>

        <ng-container matColumnDef="area">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Area">Area </th>
            <td mat-cell *matCellDef="let element"> {{element.area}} </td>
        </ng-container>

        <ng-container matColumnDef="ocupacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Ocupacion">Ocupacion </th>
            <td mat-cell *matCellDef="let element"> {{element.ocupacion}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>



    <mat-paginator [length]="20"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page">
    </mat-paginator>

</div>
