<div class="w-full max-w-8xl">

    <!-- Form -->

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Inspecciones</div>
            <div class="text-secondary">Descripcion de las Inspecciones</div>
        </div>
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
            <!-- Cód. Prov. Inmueble -->

            <div class="sm:col-span-1">
             
                    <button >
                        <mat-icon>new</mat-icon>
                        <span>Nuevo</span>
                     </button>
            </div>
            <div class="sm:col-span-1">
               
                    <button >
                        <mat-icon>delete</mat-icon>
                        <span>Eliminar</span>
                     </button>
            </div>
            <div class="sm:col-span-1">
              
                    <button >
                        <mat-icon>download</mat-icon>
                        <span>Ver infrome</span>
                     </button>
            </div>
            <div class="sm:col-span-1">
               
                    <button >
                        <mat-icon>download</mat-icon>
                        <span>Ver Opinion Legal</span>
                     </button>
            </div>
            <div class="sm:col-span-1">
               
                <button >
                    <mat-icon>download</mat-icon>
                    <span>Ver Doc Aprobacion</span>
                 </button>
            </div>
            <div class="sm:col-span-1">
               
                <button >
                    <mat-icon>attached</mat-icon>
                    <span>Adjuntar Informe</span>
                 </button>
        </div>
        <div class="sm:col-span-1">
               
            <button >
                <mat-icon>forward</mat-icon>
                <span>Solicita Opinion Legal</span>
             </button>
    </div>

            <div class="sm:col-span-1">
                    
                <button >
                    <mat-icon>new</mat-icon>
                    <span>Generar ticket pago</span>
                </button>
        </div>
    </div>

        <table class="w-full border-collapse border border-gray-300">
            <thead>
                <tr>
                    <th class="border border-gray-300 px-4 py-2">Fecha</th>
                    <th class="border border-gray-300 px-4 py-2">Motivo</th>
                    <th class="border border-gray-300 px-4 py-2">Importe</th>
                    <th class="border border-gray-300 px-4 py-2">Garantia Restante</th>
                    <th class="border border-gray-300 px-4 py-2">Estado</th>
                    <th class="border border-gray-300 px-4 py-2">Informe de Sustento</th>
                    <th class="border border-gray-300 px-4 py-2">Opinion Legal</th>
                    <th class="border border-gray-300 px-4 py-2">Aprobacion </th>
                    <th class="border border-gray-300 px-4 py-2">Garantia Oblg.</th>


                </tr>
            </thead>
            <tbody>
                <!-- Aquí puedes iterar sobre tus datos y mostrarlos en filas -->
                <tr>
                    <td class="border border-gray-300 px-4 py-2"></td>
                    <td class="border border-gray-300 px-4 py-2"></td>
                    <td class="border border-gray-300 px-4 py-2"></td>
                    <td class="border border-gray-300 px-4 py-2"></td>
                    <td class="border border-gray-300 px-4 py-2"></td>
                    <td class="border border-gray-300 px-4 py-2"></td>
                    <td class="border border-gray-300 px-4 py-2"></td>
                  
                </tr>
                <!-- Puedes agregar más filas según sea necesario -->
            </tbody>
        </table>
</div>