<div class="w-full max-w-8xl">

    <!-- Form -->

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">ITL</div>
            <div class="text-secondary">Descripcion de la ITL</div>
        </div>


               
        
                <div class="grid sm:grid-cols-2 gap-6 w-full mt-8">

                    <div class="sm:col-span-1">
                        <button >
                            <mat-icon>attach_file</mat-icon>
                            <span>mostrar</span>
                        </button>
                     </div>
                </div>
        
            <table class="w-full border-collapse border border-gray-300">
                <thead>
                    <tr>
                        <th class="border border-gray-300 px-4 py-2">Aplica</th>
                        <th class="border border-gray-300 px-4 py-2">Fecha</th>
                        <th class="border border-gray-300 px-4 py-2">Num ITL</th>
                        <th class="border border-gray-300 px-4 py-2">Documento </th>
                        <th class="border border-gray-300 px-4 py-2">Acto</th>
                        <th class="border border-gray-300 px-4 py-2">Asunto</th>
                        <th class="border border-gray-300 px-4 py-2">Remitente</th>
                        <th class="border border-gray-300 px-4 py-2">Destinatario</th>
                        <th class="border border-gray-300 px-4 py-2">Estado ITL</th>

                    </tr>
                </thead>
                <tbody>
                    <!-- Aquí puedes iterar sobre tus datos y mostrarlos en filas -->
                    <tr>
                        <td class="border border-gray-300 px-4 py-2"></td>
                        <td class="border border-gray-300 px-4 py-2"></td>
                        <td class="border border-gray-300 px-4 py-2"></td>
                        <td class="border border-gray-300 px-4 py-2"></td>
                        <td class="border border-gray-300 px-4 py-2"></td>
                        <td class="border border-gray-300 px-4 py-2"></td>
                        <td class="border border-gray-300 px-4 py-2"></td>
                        <td class="border border-gray-300 px-4 py-2"></td>                                      
                        <td class="border border-gray-300 px-4 py-2"></td>                                              
        
                    </tr>
                    <!-- Puedes agregar más filas según sea necesario -->
                </tbody>
            </table>
           
</div>