<div class="w-full max-w-8xl">

    <!-- Form -->

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Procesos Judiciales y Arbitrajes</div>
            <div class="text-secondary">Descripcion de las Control de Pagos</div>
        </div>


                <!-- Section -->
                <div class="w-full">
                    <div class="text-xl">Datos de los Judiciales y Arbitrajes</div>
                    <div class="text-secondary">Descripcion de los Judiciales y Arbitrajes</div>
                </div>
        
                <div class="grid sm:grid-cols-2 gap-6 w-full mt-8">

                    <div class="sm:col-span-1">
                        <button >
                            <mat-icon>attach_file</mat-icon>
                            <span>mostrar</span>
                        </button>
                     </div>
                </div>
        
            <table class="w-full border-collapse border border-gray-300">
                <thead>
                    <tr>
                        <th class="border border-gray-300 px-4 py-2">Tipo Proceso</th>
                        <th class="border border-gray-300 px-4 py-2">Solicitado</th>
                        <th class="border border-gray-300 px-4 py-2">Evaluacion</th>
                        <th class="border border-gray-300 px-4 py-2">CUIM</th>
                        <th class="border border-gray-300 px-4 py-2">Demandante</th>
                        <th class="border border-gray-300 px-4 py-2">Demandado</th>
                        <th class="border border-gray-300 px-4 py-2">Materia</th>
                        <th class="border border-gray-300 px-4 py-2">Estado</th>
                        <th class="border border-gray-300 px-4 py-2">Etapa</th>

                    </tr>
                </thead>
                <tbody>
                    <!-- Aquí puedes iterar sobre tus datos y mostrarlos en filas -->
                    <tr>
                        <td class="border border-gray-300 px-4 py-2"></td>
                        <td class="border border-gray-300 px-4 py-2"></td>
                        <td class="border border-gray-300 px-4 py-2"></td>
                        <td class="border border-gray-300 px-4 py-2"></td>
                        <td class="border border-gray-300 px-4 py-2"></td>
                        <td class="border border-gray-300 px-4 py-2"></td>
                        <td class="border border-gray-300 px-4 py-2"></td>
                        <td class="border border-gray-300 px-4 py-2"></td>                                      
                        <td class="border border-gray-300 px-4 py-2"></td>                                              
        
                    </tr>
                    <!-- Puedes agregar más filas según sea necesario -->
                </tbody>
            </table>
           
</div>