

<div class="flex">

    

    <!-- Aquí comienza el mat-tab-group -->
    <mat-tab-group>
        <mat-tab label="Pagos de arrendamiento">
            <ng-template matTabContent>

                <fieldset>
                    <legend>Datos del ingreso</legend>
            
                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Num Contrato</mat-label>
                        <input matInput maxlength="10" placeholder="Ex. Nougat" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <button mat-button mat-raised type="reset" (click)="resetDetails()" class="push-right-xs" [disabled]="busy">Buscar</button>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>CUM</mat-label>
                        <input matInput maxlength="10" placeholder="CUM" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>CUIM</mat-label>
                        <input matInput maxlength="10" placeholder="CUIM" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Uso</mat-label>
                        <input matInput maxlength="10" placeholder="Uso" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Direccion del Inmueble</mat-label>
                        <input matInput maxlength="10" placeholder="Direccion del Inmueble" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Arrendatario</mat-label>
                        <input matInput maxlength="10" placeholder="Arrendatario" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Domicilio Fiscal</mat-label>
                        <input matInput maxlength="10" placeholder="Domicilio Fiscal" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Observaciones</mat-label>
                        <input matInput maxlength="10" placeholder="Observaciones" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>
            
                    <mat-form-field appearance="outline" fxFill>
                        <mat-label>Select me</mat-label>
                        <mat-select>
                            <mat-option value="option">Option</mat-option>
                        </mat-select>
                        <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
                    </mat-form-field>
            
                </fieldset>
                <!-- Contenido de la pestaña 1 -->
                <h2>Pagos de arrendamiento</h2>
                <p>Este es el contenido de la primera pestaña.</p>
                <button mat-raised-button color="primary">Botón de la pestaña 1</button>
              </ng-template>
            
        </mat-tab>
        <mat-tab label="Pagos varios">
            <ng-template matTabContent>

                <fieldset>
                    <legend>Datos del ingreso</legend>

                    <mat-form-field appearance="outline" fxFill>
                        <mat-label>Nro Doc</mat-label>
                        <mat-select>
                            <mat-option value="Ruc">Ruc</mat-option>
                            <mat-option value="Dni">Dni</mat-option>
                            <mat-option value="Carnet">Carnet</mat-option>
                            <mat-option value="Pasaporte">Pasaporte</mat-option>
                            <mat-option value="P">P</mat-option>
                            <mat-option value="Otros">Otros</mat-option>
                        </mat-select>
                        <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
                    </mat-form-field>
            
                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>NDOC</mat-label>
                        <input matInput maxlength="10" placeholder="nrodoc" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <button mat-button mat-raised type="reset" (click)="resetDetails()" class="push-right-xs" [disabled]="busy">Buscar</button>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>CUM</mat-label>
                        <input matInput maxlength="10" placeholder="CUM" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>CUIM</mat-label>
                        <input matInput maxlength="10" placeholder="CUIM" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Uso</mat-label>
                        <input matInput maxlength="10" placeholder="Uso" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Direccion del Inmueble</mat-label>
                        <input matInput maxlength="10" placeholder="Direccion del Inmueble" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Arrendatario</mat-label>
                        <input matInput maxlength="10" placeholder="Arrendatario" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Domicilio Fiscal</mat-label>
                        <input matInput maxlength="10" placeholder="Domicilio Fiscal" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Observaciones</mat-label>
                        <input matInput maxlength="10" placeholder="Observaciones" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>
            
                    <mat-form-field appearance="outline" fxFill>
                        <mat-label>Select me</mat-label>
                        <mat-select>
                            <mat-option value="option">Option</mat-option>
                        </mat-select>
                        <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
                    </mat-form-field>
            
                </fieldset>
                <!-- Contenido de la pestaña 1 -->
                <h2>Pagos de arrendamiento</h2>
                <p>Este es el contenido de la primera pestaña.</p>
                <button mat-raised-button color="primary">Botón de la pestaña 1</button>
              </ng-template>
            
        </mat-tab>
        <mat-tab label="Pagos por ticket">
            <ng-template matTabContent>

                <fieldset>
                    <legend>Datos del ingreso</legend>

                    <mat-form-field appearance="outline" fxFill>
                        <mat-label>Nro Doc</mat-label>
                        <mat-select>
                            <mat-option value="Ruc">Ruc</mat-option>
                            <mat-option value="Dni">Dni</mat-option>
                            <mat-option value="Carnet">Carnet</mat-option>
                            <mat-option value="Pasaporte">Pasaporte</mat-option>
                            <mat-option value="P">P</mat-option>
                            <mat-option value="Otros">Otros</mat-option>
                        </mat-select>
                        <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
                    </mat-form-field>
            
                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>NDOC</mat-label>
                        <input matInput maxlength="10" placeholder="nrodoc" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <button mat-button mat-raised type="reset" (click)="resetDetails()" class="push-right-xs" [disabled]="busy">Buscar</button>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>CUM</mat-label>
                        <input matInput maxlength="10" placeholder="CUM" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>CUIM</mat-label>
                        <input matInput maxlength="10" placeholder="CUIM" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Uso</mat-label>
                        <input matInput maxlength="10" placeholder="Uso" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Direccion del Inmueble</mat-label>
                        <input matInput maxlength="10" placeholder="Direccion del Inmueble" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Arrendatario</mat-label>
                        <input matInput maxlength="10" placeholder="Arrendatario" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Domicilio Fiscal</mat-label>
                        <input matInput maxlength="10" placeholder="Domicilio Fiscal" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Observaciones</mat-label>
                        <input matInput maxlength="10" placeholder="Observaciones" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>
            
                    <mat-form-field appearance="outline" fxFill>
                        <mat-label>Select me</mat-label>
                        <mat-select>
                            <mat-option value="option">Option</mat-option>
                        </mat-select>
                        <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
                    </mat-form-field>
            
                </fieldset>
                <!-- Contenido de la pestaña 1 -->
                <h2>Pagos de arrendamiento</h2>
                <p>Este es el contenido de la primera pestaña.</p>
                <button mat-raised-button color="primary">Botón de la pestaña 1</button>
              </ng-template>
            
        </mat-tab>
        <mat-tab label="Planilla de Cobranzas">
            <ng-template matTabContent>

                <fieldset>
                    <legend>Datos del ingreso</legend>

                    <mat-form-field appearance="outline" fxFill>
                        <mat-label>Nro Doc</mat-label>
                        <mat-select>
                            <mat-option value="Ruc">Ruc</mat-option>
                            <mat-option value="Dni">Dni</mat-option>
                            <mat-option value="Carnet">Carnet</mat-option>
                            <mat-option value="Pasaporte">Pasaporte</mat-option>
                            <mat-option value="P">P</mat-option>
                            <mat-option value="Otros">Otros</mat-option>
                        </mat-select>
                        <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
                    </mat-form-field>
            
                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>NDOC</mat-label>
                        <input matInput maxlength="10" placeholder="nrodoc" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <button mat-button mat-raised type="reset" (click)="resetDetails()" class="push-right-xs" [disabled]="busy">Buscar</button>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>CUM</mat-label>
                        <input matInput maxlength="10" placeholder="CUM" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>CUIM</mat-label>
                        <input matInput maxlength="10" placeholder="CUIM" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Uso</mat-label>
                        <input matInput maxlength="10" placeholder="Uso" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Direccion del Inmueble</mat-label>
                        <input matInput maxlength="10" placeholder="Direccion del Inmueble" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Arrendatario</mat-label>
                        <input matInput maxlength="10" placeholder="Arrendatario" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Domicilio Fiscal</mat-label>
                        <input matInput maxlength="10" placeholder="Domicilio Fiscal" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Observaciones</mat-label>
                        <input matInput maxlength="10" placeholder="Observaciones" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>
            
                    <mat-form-field appearance="outline" fxFill>
                        <mat-label>Select me</mat-label>
                        <mat-select>
                            <mat-option value="option">Option</mat-option>
                        </mat-select>
                        <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
                    </mat-form-field>
            
                </fieldset>
                <!-- Contenido de la pestaña 1 -->
                <h2>Pagos de arrendamiento</h2>
                <p>Este es el contenido de la primera pestaña.</p>
                <button mat-raised-button color="primary">Botón de la pestaña 1</button>
              </ng-template>
            
        </mat-tab>
        <mat-tab label="Planilla de Depositos">
            <ng-template matTabContent>

                <fieldset>
                    <legend>Datos del ingreso</legend>

                    <mat-form-field appearance="outline" fxFill>
                        <mat-label>Nro Doc</mat-label>
                        <mat-select>
                            <mat-option value="Ruc">Ruc</mat-option>
                            <mat-option value="Dni">Dni</mat-option>
                            <mat-option value="Carnet">Carnet</mat-option>
                            <mat-option value="Pasaporte">Pasaporte</mat-option>
                            <mat-option value="P">P</mat-option>
                            <mat-option value="Otros">Otros</mat-option>
                        </mat-select>
                        <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
                    </mat-form-field>
            
                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>NDOC</mat-label>
                        <input matInput maxlength="10" placeholder="nrodoc" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <button mat-button mat-raised type="reset" (click)="resetDetails()" class="push-right-xs" [disabled]="busy">Buscar</button>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>CUM</mat-label>
                        <input matInput maxlength="10" placeholder="CUM" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>CUIM</mat-label>
                        <input matInput maxlength="10" placeholder="CUIM" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Uso</mat-label>
                        <input matInput maxlength="10" placeholder="Uso" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Direccion del Inmueble</mat-label>
                        <input matInput maxlength="10" placeholder="Direccion del Inmueble" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Arrendatario</mat-label>
                        <input matInput maxlength="10" placeholder="Arrendatario" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Domicilio Fiscal</mat-label>
                        <input matInput maxlength="10" placeholder="Domicilio Fiscal" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Observaciones</mat-label>
                        <input matInput maxlength="10" placeholder="Observaciones" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>
            
                    <mat-form-field appearance="outline" fxFill>
                        <mat-label>Select me</mat-label>
                        <mat-select>
                            <mat-option value="option">Option</mat-option>
                        </mat-select>
                        <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
                    </mat-form-field>
            
                </fieldset>
                <!-- Contenido de la pestaña 1 -->
                <h2>Pagos de arrendamiento</h2>
                <p>Este es el contenido de la primera pestaña.</p>
                <button mat-raised-button color="primary">Botón de la pestaña 1</button>
              </ng-template>
            
        </mat-tab>
        <mat-tab label="Nota de Credito/Debito">
            <ng-template matTabContent>

                <fieldset>
                    <legend>Datos del ingreso</legend>

                    <mat-form-field appearance="outline" fxFill>
                        <mat-label>Nro Doc</mat-label>
                        <mat-select>
                            <mat-option value="Ruc">Ruc</mat-option>
                            <mat-option value="Dni">Dni</mat-option>
                            <mat-option value="Carnet">Carnet</mat-option>
                            <mat-option value="Pasaporte">Pasaporte</mat-option>
                            <mat-option value="P">P</mat-option>
                            <mat-option value="Otros">Otros</mat-option>
                        </mat-select>
                        <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
                    </mat-form-field>
            
                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>NDOC</mat-label>
                        <input matInput maxlength="10" placeholder="nrodoc" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <button mat-button mat-raised type="reset" (click)="resetDetails()" class="push-right-xs" [disabled]="busy">Buscar</button>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>CUM</mat-label>
                        <input matInput maxlength="10" placeholder="CUM" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>CUIM</mat-label>
                        <input matInput maxlength="10" placeholder="CUIM" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Uso</mat-label>
                        <input matInput maxlength="10" placeholder="Uso" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Direccion del Inmueble</mat-label>
                        <input matInput maxlength="10" placeholder="Direccion del Inmueble" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Arrendatario</mat-label>
                        <input matInput maxlength="10" placeholder="Arrendatario" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Domicilio Fiscal</mat-label>
                        <input matInput maxlength="10" placeholder="Domicilio Fiscal" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Observaciones</mat-label>
                        <input matInput maxlength="10" placeholder="Observaciones" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>
            
                    <mat-form-field appearance="outline" fxFill>
                        <mat-label>Select me</mat-label>
                        <mat-select>
                            <mat-option value="option">Option</mat-option>
                        </mat-select>
                        <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
                    </mat-form-field>
            
                </fieldset>
                <!-- Contenido de la pestaña 1 -->
                <h2>Pagos de arrendamiento</h2>
                <p>Este es el contenido de la primera pestaña.</p>
                <button mat-raised-button color="primary">Botón de la pestaña 1</button>
              </ng-template>
            
        </mat-tab>

        <mat-tab label="Guia de Remision">
            <ng-template matTabContent>

                <fieldset>
                    <legend>Datos del ingreso</legend>

                    <mat-form-field appearance="outline" fxFill>
                        <mat-label>Nro Doc</mat-label>
                        <mat-select>
                            <mat-option value="Ruc">Ruc</mat-option>
                            <mat-option value="Dni">Dni</mat-option>
                            <mat-option value="Carnet">Carnet</mat-option>
                            <mat-option value="Pasaporte">Pasaporte</mat-option>
                            <mat-option value="P">P</mat-option>
                            <mat-option value="Otros">Otros</mat-option>
                        </mat-select>
                        <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
                    </mat-form-field>
            
                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>NDOC</mat-label>
                        <input matInput maxlength="10" placeholder="nrodoc" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <button mat-button mat-raised type="reset" (click)="resetDetails()" class="push-right-xs" [disabled]="busy">Buscar</button>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>CUM</mat-label>
                        <input matInput maxlength="10" placeholder="CUM" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>CUIM</mat-label>
                        <input matInput maxlength="10" placeholder="CUIM" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Uso</mat-label>
                        <input matInput maxlength="10" placeholder="Uso" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Direccion del Inmueble</mat-label>
                        <input matInput maxlength="10" placeholder="Direccion del Inmueble" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Arrendatario</mat-label>
                        <input matInput maxlength="10" placeholder="Arrendatario" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Domicilio Fiscal</mat-label>
                        <input matInput maxlength="10" placeholder="Domicilio Fiscal" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Observaciones</mat-label>
                        <input matInput maxlength="10" placeholder="Observaciones" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>
            
                    <mat-form-field appearance="outline" fxFill>
                        <mat-label>Select me</mat-label>
                        <mat-select>
                            <mat-option value="option">Option</mat-option>
                        </mat-select>
                        <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
                    </mat-form-field>
            
                </fieldset>
                <!-- Contenido de la pestaña 1 -->
                <h2>Pagos de arrendamiento</h2>
                <p>Este es el contenido de la primera pestaña.</p>
                <button mat-raised-button color="primary">Botón de la pestaña 1</button>
              </ng-template>
            
        </mat-tab>
        <mat-tab label="Listados">
            <ng-template matTabContent>

                <fieldset>
                    <legend>Datos del ingreso</legend>

                    <mat-form-field appearance="outline" fxFill>
                        <mat-label>Nro Doc</mat-label>
                        <mat-select>
                            <mat-option value="Ruc">Ruc</mat-option>
                            <mat-option value="Dni">Dni</mat-option>
                            <mat-option value="Carnet">Carnet</mat-option>
                            <mat-option value="Pasaporte">Pasaporte</mat-option>
                            <mat-option value="P">P</mat-option>
                            <mat-option value="Otros">Otros</mat-option>
                        </mat-select>
                        <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
                    </mat-form-field>
            
                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>NDOC</mat-label>
                        <input matInput maxlength="10" placeholder="nrodoc" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <button mat-button mat-raised type="reset" (click)="resetDetails()" class="push-right-xs" [disabled]="busy">Buscar</button>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>CUM</mat-label>
                        <input matInput maxlength="10" placeholder="CUM" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>CUIM</mat-label>
                        <input matInput maxlength="10" placeholder="CUIM" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Uso</mat-label>
                        <input matInput maxlength="10" placeholder="Uso" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Direccion del Inmueble</mat-label>
                        <input matInput maxlength="10" placeholder="Direccion del Inmueble" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Arrendatario</mat-label>
                        <input matInput maxlength="10" placeholder="Arrendatario" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Domicilio Fiscal</mat-label>
                        <input matInput maxlength="10" placeholder="Domicilio Fiscal" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>

                    <mat-form-field hintLabel="Max 10 characters" appearance="outline" fxFill>
                        <mat-label>Observaciones</mat-label>
                        <input matInput maxlength="10" placeholder="Observaciones" />
                        <mat-hint align="end"></mat-hint>
                    </mat-form-field>
            
                    <mat-form-field appearance="outline" fxFill>
                        <mat-label>Select me</mat-label>
                        <mat-select>
                            <mat-option value="option">Option</mat-option>
                        </mat-select>
                        <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
                    </mat-form-field>
            
                </fieldset>
                <!-- Contenido de la pestaña 1 -->
                <h2>Pagos de arrendamiento</h2>
                <p>Este es el contenido de la primera pestaña.</p>
                <button mat-raised-button color="primary">Botón de la pestaña 1</button>
              </ng-template>
            
        </mat-tab>
        
    </mat-tab-group>
    <!-- Fin del mat-tab-group -->
</div>